:root {
  --color-red: #E17474
  --color-blue: hsl(270deg 75% 60%);

  /* Media query sizes */
  --mobile-devices-size: 320px;
  --ipad-devices-size: 481px;
  --small-devices-size: 770px;
  --desktop-device-size: 1025px;
}